<form action="">

    <input type="text" placeholder="username" name="username">
    <br>
    <input type="text" placeholder="password" name="password">
    <br><br>
    <button>submit</button>

</form>