.parent{
    border: 2px solid black;
    /* width: 800px; */
    background-color: orange;
    display: flex;
    height: 500px;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    gap: 20px;
    justify-content: center;
    align-content: space-evenly;
}

.div{
    border: 2px solid rgb(27, 212, 240);
    background-color: rgb(12, 234, 153);
    width: 80px;
    height: 80px;
}