<% layout('/layout/boilerplate.ejs') -%>
  <div class="centre d-flex flex-wrap gap-4 justify-content-center">
    <% for( let product of products) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%= product.image %>" class="card-img-top" alt="..." style="height: 200px;">
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <p class="card-text">
            <%= product.description %>
          </p>
          <a href="/products/<%= product._id.toString() %>" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
      <% } %>
  </div>
  </div>