<% layout('/layout/boilerplate') -%>


  <form action="/signup" method="post">
    <div class="m-5" style="width: 35rem;">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" name="username" class="form-control border border-black p-3 mb-3" id="exampleInputUsername" aria-describedby="emailHelp">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="email" class="form-control border border-black p-3 mb-3" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control border border-black p-3 mb-3" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="role" value="seller" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Seller
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="role" value="buyer" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Buyer
          </label>
        </div>
  </div>
    <button type="submit" class="btn btn-primary ">Login</button>
  </form>